:root {
  --gameboard-width: 35rem;
}

html {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
}

.current-turn {
  margin-top: 2rem;
  font-size: 1.75rem;
  color: #344a53;
}

.gameboard {
  justify-self: center;
  width: var(--gameboard-width);
  height: var(--gameboard-width);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5rem;
}

.gameboard-cell {
  min-height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d91a9;
}

.gameboard-cell:hover {
  background-color: #5187ae;
  cursor: pointer;
}

@keyframes pop-mark {
  0% {
    transform: scale(0.98);
  }
  100% {
    transform: scale(1);
  }
}

.gameboard-cell:active {
  color: rgb(99, 0, 0);
  animation: pop-mark 0.1s ease-out;
}

.gameboard-cell p {
  font-size: 5.5rem;
  animation: colorize 0.4s ease-out;
  color: white;
}

.restart-btn {
  padding: 0.5rem;
  font-size: 1.5rem;
  color: #344a53;
  background-color: #e6f4f1;
  border: 0.15rem solid #344a53;
  border-radius: 0.3rem;
}

.restart-btn:hover {
  cursor: pointer;
}

.restart-btn:active {
  color: white;
  background-color: #4d91a9;
}

.select-opponent-layer,
.outcome-layer {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
}

.select-opponent-content,
.outcome-content {
  padding: 1.75rem;
  max-width: 20rem;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: white;
  color: #344a53;
  box-shadow: 0 0 0.66rem #344a53;
}

h1 {
  padding: 1rem;
  font-size: 3.2rem;
  color: #4d91a9;
}

.select-opponent-content div {
  width: 16rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  border: 0.1rem solid #344a53;
  border-radius: 2rem;
}

.select-opponent-content div:hover {
  background-color: #e6f4f1;
  cursor: pointer;
}

.select-opponent-content div:active {
  color: white;
  background-color: #4d91a9;
}

.select-opponent-content p {
  font-size: 1.75rem;
}

.outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outcome-hint {
  padding: 1rem;
  font-size: 0.9rem;
  color: #4d91a9;
}

.outcome-message {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}


@media (max-height: 768px) {
  body {
    gap: 0.75rem
  }
  .current-turn {
    font-size: 1rem;
  }
  html {
    font-size: 14px;
  }
}

@media (max-height: 430px) {
  body {
    gap: 0.5rem
  }
  .current-turn {
    font-size: 1rem;
  }
  html {
    font-size: 14px;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 11px;
  }
}

@media (max-width: 375px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 360px) {
  html {
    font-size: 8px;
  }
}
